* {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    background-color: #003399;
    color: white;
    width: 100%;
    min-height: 50px;
    height: 10%;
}

header > div, header > nav {
    height: 50px;
    float: left;
}

/* Logomarca */
header > div:first-child{
    margin-left: 5%;
    background-color: black;
    width: 15%;
}

header > nav {
    background-color: pink;
    width: 30%;
}

/* Busca, login e carrinho */
header > div:last-child {
    margin-right: 5%;
    background-color: green;
    width: 45%;
}