/* Zerar padding e margin para todos os elementos */
* {
    padding: 0;
    margin: 0;
}

/* Cor de fundo do body */
.corpo{
    background-color: #C0C0C0;
}

header {
    background-color: #483D8B;
    color: white;
    width: 100%;
    min-height: 67px;
    height: 10%;
}

header > div {
    height: 65px;
    float: left;
    margin-left: 1.5px;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
}

/* Logomarca */
header > div:nth-child(1){
    margin-left: 5%;
    background-color: #42426F;;
    width: 14%;
    text-align: center;
   /* background-image: url("../logo.png"); */
}

header > div:nth-child(2) {
    background-color: #42426F;
    background-color: black;
    width: 30%;
}

/* Busca, login e carrinho */
header > div:nth-child(3) {
    margin-right: 5%;
    background-color: #42426F;
    width: 44%;
}

header > div > nav {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Configurando Itens Principais */
header > div > nav > ul {
    list-style-type: none;
    margin: 20px auto;
}

header > div > nav > ul > li {
   display: table-cell;
   background-color: #42426F;
   width: 37%;
   border-bottom: none;
}

header > div > nav > ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    border-left: 1px;
    transition: 0.4s;
}

/* Configurando/Escondendo SubMenu */
header > div > nav > ul li ul {
    list-style: none;
    background-color: #42426F;;
    position: absolute;
    display: none;
    border-left: 2px solid lightgrey;
}

/* Formatando SubMenu */
header > div > nav > ul li ul li {
    width: 150px;
}

/* Interação com Menu */
header > div > nav > ul li a:hover {
    color: #D8D8BF;
    text-shadow: 0px 0px 10px #42426F;
    box-shadow: 2px 2px 20px #ccc;
    transition: 0.4s;
}

/* Exibindo SubMenu */
header > div > nav > ul li:hover ul {
    display: block;
}

input{
    margin-top: 7px;
    height: 50px;
    width: 450px;
    font-size: 15px;
}

button{
    margin-top: 7px;
    height: 40px;
    background :url("../imagens/ic_menu_search.png");
    border: none;
    color: transparent;
}

figure >img{
    margin-top: 13px;
    height: 100%;
}