* {
    padding: 0;
    margin: 0;
    font-family: Candara;
    //font-size: 25px;

}
body{
    background-image: linear-gradient(to right, #42426F -50%, #333333 -100%, #483D8B 100%);
}
#corpoSobre{
    margin: 20px 10px 10px 10px;
    background-image: linear-gradient(to right, #42426F -50%, #333333 -100%, #483D8B 100%);
}
#sobre_missao{
    float: left;
    width: 70%;
}
section{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    margin-bottom: 1px;
    float: left;
    min-width: 700px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 500px;
    margin-left: 73px;    
    background-image: linear-gradient(to right, #42426F -50%, #333333 -100%, #483D8B 100%);
    text-align: center; 
    font-size: 25px;

}
section>article:nth-child(2){
    margin: 3px auto;
    min-width: 500px;
    max-width: 1000px;
    min-height: 100px;
    max-height: 100px;
    background-color: #333333;
    margin-top: 3px;
    
}
h3{
    font-size: 30px;
    margin-left: 40px;
    color: #C0C0C0;
}
section>article>p{
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}
hr{
   margin-left: 10px;
   margin-right: 40px;
   color: white;
   size: 2px;   
}

body>div>aside{
    min-height: 500px;
    max-height: 800px;
    width: 25%;
    margin-left: 30px;
    background-color: #A8A8A8;
    padding: 10px;
    margin-top: 20px;
}

.asideContato article{
    width:100%;
    border-radius:8px;
   // border: 2px solid brown;
    margin: 20px auto;
    padding: 2px 2px 2px 2px;
    background-color: #C0C0C0;
   
}

.asideContato article>ul{
    margin-left: 10px;
    //margin-right: px;
    padding-right: 6px;
    margin-top: 50px;
    margin-bottom: 20px;

}
.asideContato article ul li{
    margin-left: 10px;
    margin-right: 10px;   


}
.asideContato article img{
    width:100%;
    border-radius:8px;
    background-color: #A8A8A8;

}
body>div>section, body>div>aside{
    float: left;
}